@use '../custom' as *;
@use '../components/mixin' as *;



.testimonial {
    position: relative;
    margin: 3rem 0;

    @include gradient;

    &__card{
        background-color: rgba($white,0.8);
        padding: 1.67rem 0.234rem;
        text-align: center;
        border-radius: 1.34rem;
        height: 12rem;
    
        i{
            font-size: 1.3rem;
            color: rgba($primary,0.6);
        }
         

        .rating i {
            font-size: 1.6rem;
        }

        @include media-breakpoint-down(sm){
            height: 16rem;
        }
    
    
    }
    &__picture{

        position: absolute;
        // top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
            width: 7rem;
            height: 7rem;


        img {
            clip-path: circle();

            //  border: 1rem solid rgba($primary, 0.7);
        }
    }


    &__role{
           margin-top: 3rem; 
           color: $white;
           text-align: center;
           text-transform: capitalize;
           
           h3{
               font-weight: 700;
               font-family: 'Poppins', sans-serif;
           }

    }


  
}